configuration {
 modi: "window,drun,ssh,combi";
 font: "hack 10";
 combi-modi: "window,drun,ssh";
 }
@theme "solarized"

* {
foreground: #747372;
background: #fffbef;
normal-background: #fffbef;
selected-normal-background: #fffbef;
alternate-normal-background: #fffbef;
separatecolor: @foreground;
}

window {
border: 0;
padding: 10;
border-radius: 10;
margin: 5;
}

listview {
border: 0;
padding: 16px 0px 0px;
}

element.selected.normal {
font: bold;
}
